.content {
  padding: 40px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
}


.article-content {
  margin: 20px auto;
  padding: 40px;
  font-width: bolder;
  color: #fff;
  text-align: start;
  font-size: 1.5rem;
}

.card{
  background-color: #63C9C9;
  //mix-blend-mode: darken;
  opacity: 0.9;
  //backdrop-filter: blur(4.5px);
}
